.feature {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 418px;
    padding-top: 80px;
}

.feature .btn {
    // positioning
    position: absolute;
    left: 35px;
    bottom: 16px;

    // typography
    font-weight: 700;

    // box model
    display: block;
    min-width: 270px;

    @include atDesktopM {
        // box model
        display: none;
    }
}

.feature__header {
    // positioning
    position: relative;
    
    // box model
    padding: 0 30px;

    &:after {
        content: "";

        // positioning
        position: absolute;
        bottom: -22px;

        // box model
        display: block;
        height: 1px;
        width: 221px;

        // visual
        background-color: $grey;
        opacity: 0.5;
    }
}

.feature__descr {
    // box model
    padding: 0 30px;
}

.feature__subtitle {
    // box model
    margin: 0;

    // typography
    color: rgba($white, 0.5);
    font-family: $baseFont;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    
    @include atDesktopM {
        // typography
        color: rgba($grey, 0.5);
    }
}

.feature__title {
    // box model
    margin: 0;

    // typography
    color: $white;
    font-family: $baseFont;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    @include atDesktopM {
        // typography
        color: $black;
    }
}

.feature__text {
    // box model
    margin: 0;

    // typography
    color: $white;
    font-family: $baseFont;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;

    @include atDesktopM {
        // typography
        color: $black;
    }
}

.feature__mark {
    // box model
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.feature__image-mark {
    // box model
    display: none;

    @include atDesktopM {
        // box model
        display: inline-block;
        width: 48px;
        height: 48px;
    }
}