.main-footer {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1430px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
}

.main-footer__info-logo {
    // box model
    width: 225px;
}

.main-footer__content {
    // box model
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1170px;
    width: 100%;
}

.main-footer__menu-and-social {
    // box model
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 630px;
}

.main-footer__info {
    // box model
    flex-basis: 310px;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 310px;
}

.main-footer__menu {
    // box model
    flex-basis: 230px;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 100%;
}

.main-footer__social {
    // box model
    flex-basis: 310px;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 310px;
}

.main-footer__menu-header {
    // box model
    margin-bottom: 16px;
}

.main-footer__menu-title {
    // box model
    margin: 0;
}

.main-footer__menu-list {
    // box model
    margin: 0;
    padding: 0;
    columns: 2;
    column-gap: 60px;

    // visual
    list-style: none;
}

.main-footer__menu-item {
    // box model
    margin: 12.5px 0;

    &:first-child {
        // box model
        margin-top: 0;
    }
}

.main-footer__menu-link {
    // box model
    display: block;

    // typography
    color: $black;       
    font-family: $baseFont;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;

    // visual
    text-decoration: none;
}

.main__footer-social-list {
    // box model
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 33px;
    padding: 0;
    width: 100%;
    max-width: 232px;

    // visual
    list-style: none;
}

.main__footer-social-header {
    // box model
    margin-bottom: 15px;
}

.main__footer-social-title {
    // box model
    margin: 0;
}

.main__footer-social-link {
    // box model
    display: block;

    // visual
    text-decoration: none;
}

.main__footer-policy {
    // box model
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:before {
        content: "";

        // box model
        display: block;
        margin-bottom: 12px;
        width: 100%;
        height: 1px;

        // visual
        background-color: rgba($grey, 0.5);
    }
}

.main__footer-policy-link {
    // box model
    display: block;
    margin-bottom: 7px;

    // typography
    color: $grey;
    font-family: $baseFont;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;

    &:last-child {
        margin-bottom: 0;
    }
}

.main-footer__policy-bottom-text {
    // box model
    margin: 0;

    // typography
    color: $grey;
    font-family: $baseFont;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}