.main-header {
    // box model
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    margin-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 97px;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./img/promos/cutting.jpg");
    background-size: cover;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.1);
    background-position: center;

    @include atTablet{
        // box model
        padding-left: 50px;
        padding-bottom: 0;

        // visual
        background: none;
        box-shadow: none;
    }

    @include atDesktopM {
        // box model
        padding-left: 30px;
        padding-right: 0;
    }

    @include atDesktopL {
        // box model
        padding-right: 0;
        padding-left: 0;
    }
}

.main-header .section-header__title,
.main-header .section-header__subtitle {
    // typography
    color: $white;

    @include atTablet {
        // typography
        color: $black;
    }
}

.main-header__top-navigation {
    // positioning
    position: relative;
    z-index: 4;

    // box model
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 956px;
    margin-bottom: 35px;
    
    @include atTablet {
        // box model
        margin-bottom: 65px;
    }
    
    @include atDesktopM {
        // box model
        margin-bottom: 85px;
    }
}

.main-header__logo {
    // box model
    max-width: 225px;
    width: 100%;
    height: 42px;

    // visual
    background-image: url("./img/logo/newman-logo-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;

    @include atTablet{
        // box model
        height: auto;

        // visual
        background-image: none;
    }
}

.main-header .logo {
    // box model
    display: none;

    @include atTablet {
        // box model
        display: block;
    }
}

.main-header__mobile-icon {
    // positioning
    position: fixed;
    right: 30px;
    top: 55px;
    z-index: 321;

    // visual
    cursor: pointer;

    @include atDesktopM {
        right: 100px;
    }

    @include atDesktopL {
        // positioning
        right: 320px;
    }
}

.main-header__nav {
    

    @include atDesktopM {
        // box model
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 412px;
        max-width: 412px;
    }
}

.main-header__content {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1520px;

    &:after {
        content: "";

        // positioning
        position: absolute;
        right: -490px;
        bottom: -150px;
        z-index: 3;

        // box model
        display: block;
        width: 800px;
        height: 800px;

        // visual
        background-image: url("./img/decor/stamp.svg");
        background-size: contain;
        background-repeat: no-repeat;
        mix-blend-mode: overlay;
    }

    @include atTablet {
        // visual
        overflow: hidden;

        &:after {
            // positioning
            right: -335px;
            bottom: 10px;

            // box model
            width: 560px;
            height: 560px;
        }
    }

    @include atDesktopM {
        // visual
        overflow: visible;

        &:before {
            content: "";
    
            // positioning
            position: absolute;
            right: 75px;
            bottom: 0;
    
            // box model
            display: block;
            width: 800px;
            height: 800px;
    
            // visual
            background-image: url("./img/bg/body-bg.svg");
        }

        &:after {
            // positioning
            right: 75px;
            bottom: -20px;

            // box model
            width: 800px;
            height: 800px;
        }
    }
}

.main-header__info {
    // positioning
    position: relative;

    @include atTablet {
        // box model
        height: 100%;
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 0;
        max-width: 300px;

        &:after {
            content: "";
            
            // positioning
            position: absolute;
            bottom: -29px;
            left: 0;
    
            // box model
            display: block;
            height: 1px;
            width: calc(100% + 416px);
    
            // visual
            background-color: rgba($grey, 0.5);
        }
    }

    @include atDesktopM {
        // positioning
        
        // box model
        max-width: 416px;
        
        &:after {
            // positioning
            bottom: -97px;
        }
    }
}

.main-header__images {
    
}

.main-header__descr {
    // box model
    margin-top: 12px;
    margin-bottom: 33px;

    // typography
    color: $white;

    @include atTablet {
        // box model
        margin-top: 37px;

        // typography
        color: initial;
    }
}

.main-header__buttons {
    // box model
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 130px;

    @include atTablet {
        // box model
        align-items: flex-start;
        flex-direction: column;
    }

    @include atDesktopM {
        // box model
        height: auto;
        flex-direction: row;
    }
}

.main-header .btn {
    // typography
    color: $white;

    // visual
    border: 1px solid $white;

    @include atTablet {
        // typography
        color: $grey;

        // visual
        border: 1px solid $grey;
    }
}

.main-header .btn--active {
    // visual
    border: 1px solid $red;

    @include atTablet {
        // typography
        color: $white;
    }
}

.main-header__image-small {
    // positioning
    z-index: 3;

    // box model
    display: none;
    height: 656px;
    width: 416px;

    @include atTablet {
        // box model
        display: block;
        margin-top: -45px;
    }

    @include atDesktopM {
        // box model
        width: 335px;
        margin-top: -62px;
    }

    @include atDesktopL {
        // box model
        width: 416px;
    }
}

.main-header__image-small img {
    // box model
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-header__image-big {
    // positioning
    position: relative;
    z-index: 3;

    // box model
    display: none;
    height: 780px;
    width: 440px;
    
    @include atDesktopM {
        // box model
        display: block;
        width: 335px;
        margin-top: -185px;
    }

    @include atDesktopL {
        // box model
        width: 440px;
    }

    &:before {
        content: "Барбершоп newman";

        // positioning
        position: absolute;
        left: -120px;
        bottom: 120px;
        transform: rotate(270deg);

        // typography
        color: $grey;
        font-family: $baseFont;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 4px;
        line-height: 12px;
        text-transform: uppercase;

        // visual
        opacity: 0.5;
    }
}

.main-header__image-big img {
    // box model
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include atDesktopM {
        // box model
        display: block;
    }
}