.main-header {
    // box model
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    margin-bottom: 160px;
}

.main-header__top-navigation {
    // positioning
    position: relative;
    z-index: 4;

    // box model
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 956px;
    margin-bottom: 85px;
}

.main-header__logo {
    // box model
    max-width: 225px;
}

.main-header__mobile-icon {
    // positioning
    position: absolute;
    right: 320px;
    top: 55px;
    z-index: 321;

    // visual
    cursor: pointer;
}

.main-header__nav {
    // box model
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 412px;
    max-width: 412px;
}

.main-header__content {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1520px;
    margin-bottom: 35px;

    &:before {
        content: "";

        // positioning
        position: absolute;
        right: 75px;
        bottom: 0;

        // box model
        display: block;
        width: 800px;
        height: 800px;

        // visual
        background-image: url("./img/bg/body-bg.svg");
    }

    &:after {
        content: "";

        // positioning
        position: absolute;
        right: 75px;
        bottom: -20px;
        z-index: 3;

        // box model
        display: block;
        width: 800px;
        height: 800px;

        // visual
        background-image: url("./img/decor/stamp.svg");
        background-size: contain;
        background-repeat: no-repeat;
        mix-blend-mode: overlay;
    }
}

.main-header__info {
    // positioning
    position: relative;

    // box model
    height: 100%;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 416px;

    &:after {
        content: "";
        
        // positioning
        position: absolute;
        bottom: -65px;
        left: 0;

        // box model
        display: block;
        height: 1px;
        width: calc(100% + 416px);

        // visual
        background-color: rgba($grey, 0.5);
    }
}

.main-header__images {
    
}

.main-header__descr {
    // box model
    margin-top: 37px;
    margin-bottom: 33px;
}

.main-header__buttons {
    // box model
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-header__image-small {
    // positioning
    z-index: 3;

    // box model
    height: 656px;
    width: 416px;

    @include atDesktopM {
        // box model
        margin-top: -62px;
    }
}

.main-header__image-small img {
    // box model
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-header__image-big {
    // positioning
    position: relative;
    z-index: 3;

    // box model
    height: 780px;
    width: 440px;
    
    @include atDesktopM {
        // box model
        margin-top: -185px;
    }

    &:before {
        content: "Барбершоп newman";

        // positioning
        position: absolute;
        left: -120px;
        bottom: 120px;
        transform: rotate(270deg);

        // typography
        color: $grey;
        font-family: $baseFont;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 4px;
        line-height: 12px;
        text-transform: uppercase;

        // visual
        opacity: 0.5;
    }
}

.main-header__image-big img {
    // box model
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-header__contacts {
    // positioning
    position: relative;

    // box model
    width: 100%;
    max-width: 950px;

    &:after {
        content: "";

        // positioning
        position: absolute;
        right: calc(-100% + 345px);
        bottom: -133px;
        z-index: -1;

        // box model
        display: block;
        width: 960px;
        height: 295px;

        // visual
        background-image: url("./img/decor/decorative-brand.svg");
        background-size: contain;
        background-position: center center;
        opacity: 0.8;
    }
}