.main-contacts {
    // positioning
    position: relative;

    // box model
    width: 100%;
    margin-bottom: 90px;
    padding: 0 30px;

    // visual
    background-image: url("./img/decor/decorative-map-mobile.jpg");
    background-position: center 140px;
    background-repeat: no-repeat;
    background-size: contain;

    @include atTablet {
        // box model
        padding: 0 calc((100% - 1600px) / 2);

        // visual
        background-image: url("./img/decor/decorative-contacts.jpg");
        background-size: 150%;
    }

    @include atDesktopS {
        // visual
        background-size: contain;
    }
}

.main-contacts__content {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 840px;
    margin-bottom: calc(100vw - 30px);

    &:after {
        content: "";

        // positioning
        position: absolute;
        left: -50px;
        //bottom: -250px;
        bottom: calc(-100vw + 90px);

        // box model
        display: block;
        height: 370px;
        width: calc(100% + 270px);

        // visual
        background-image: url("./img/decor/decorative-map.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    @include atTablet {
        // box model
        margin-bottom: 0;
        
        &:after {
            // positioning
            top: 0;
            left: auto;
            right: -360px;

            // box model
            height: 100%;
            max-height: 710px;
            width: 732px;

            // visual
            background-size: contain;
        }
    }

    @include atDesktopS {
        // box model
        min-height: 940px;
    }

    @include atDesktopM {

        &:after {
            // positioning
            right: 0;
            top: 0;
            left: auto;
            bottom: auto;

            // box model
            max-height: 910px;
        }
    }
}

.main-contacts__content .section-header {
    @include atTablet {
        // box model
        padding: 0 30px;
    }

    @include atDesktopL {
        // box model
        padding-left: 0;
        padding-right: 0;
    }
}

.main-contacts__info {
    // box model
    max-width: 1400px;

    @include atTablet {
        padding: 0 30px;
    }

    @include atDesktopL {
        // box model
        padding-left: 0;
        padding-right: 0;
    }
}

.main-contacts__slogan {
    // positioning
    position: absolute;
    bottom: calc(-100vw + 490px);
    left: 0;

    // box model
    width: 100%;
    max-width: 440px;
    margin-bottom: 15px;

    // typography
    color: $black;
    font-family: $titleFont;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;

    @include atTablet {
        // positioning
        bottom: 180px;

        // box model
        padding: 0 30px;
        margin-bottom: 48px;
    }

    @include atDesktopL {
        // box model
        padding-left: 0;
        padding-right: 0;
    }
}