.main-contacts {
    // positioning
    position: relative;

    // box model
    width: 100%;
    margin-bottom: 90px;
    padding: 0 calc((100% - 1600px) / 2);

    // visual
    background-image: url("./img/decor/decorative-contacts.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.main-contacts__content {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 940px;

    &:after {
        content: "";

        // positioning
        position: absolute;
        right: 200px;
        top: 0;

        // box model
        display: block;
        height: 100%;
        max-height: 768px;
        width: 535px;

        // visual
        background-image: url("./img/bg/team-bg.jpg");
        background-size: cover;
        background-position: center center;
        box-shadow: 0 20px 24px rgba(0, 0, 0, 0.25);
    }
}

.main-contacts__info {
    // box model
    max-width: 1400px;
}