.price {
    // box model
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 110px;
}

.price__content-full {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1300px;
}

.price__content {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 580px;
    padding-left: 160px;
    margin-left: -160px;
    padding-top: 0;
    padding-bottom: 100px;

    // visual
    background-image: url("./img/decor/decorative-price-stamp.svg");
    background-position: -50px 230px;
    background-size: 620px 620px;
    background-repeat: no-repeat;

    &:before {
        content: "Наши услуги и цены";

        // positioning
        position: absolute;
        transform: rotate(270deg);
        bottom: 145px;
        right: -125px;

        // typography
        color: rgba($grey, 0.5);
        font-family: $baseFont;
        font-size: 10px;
        font-weight: 600;
        line-height: 12px;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    &:after {
        content: "";

        // positioning
        position: absolute;
        top: -50px;
        left: 0px;
        z-index: -1;

        // box model
        width: 580px;
        height: 100%;

        // visual
        background-image: url("/img/services/shaving-accessories.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        opacity: 0.1;
    }

    @include atDesktopM {
        // box model
        min-height: 855px;
    }
}

.price__content-descr {
    // box model
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 235px;
    max-width: 220px;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.price__content-descr-header {

}

.price__content-descr-title {
    // box model
    margin: 0;

    // typography
    color: $grey;
}

.price__content-dscr-text {
    // box model
    margin: 0;
    margin-bottom: 80px;

    // typography
    color: $black;
    font-family: $baseFont;
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
}

.price__table {
    // positioning
    position: relative;

    // box model
    flex-basis: fill;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 740px;

    &:after {
        content: "";

        // positioning
        position: absolute;
        top: 55%;
        right: -250px;
        z-index: -1;

        // box model
        max-width: 715px;
        width: 100%;
        height: 225px;

        // visual
        background-image: url("/img/decor/decorative-price.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}