.price {
    // positioning
    position: relative;

    // box model
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    padding: 0 30px;
    padding-bottom: 70px;

    // visual
    background-image: url("./img/decor/decorative-price-stamp.svg");
    background-position: -50px 500px;
    background-size: 620px 620px;
    background-repeat: no-repeat;
    
    &:after {
        content: "";

        // positioning
        position: absolute;
        top: -50px;
        left: 0px;
        z-index: -1;

        // box model
        width: 700px;
        height: 100%;

        // visual
        background-image: url("./img/services/shaving-accessories.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 0.1;
    }

    @include atDesktopM {
        // box model
        margin-bottom: 110px;

        // visual
        background-image: none;

        &:after {
            content: "";

            // box model
            display: none;
        }
    }

    @include atDesktopL {
        // box model
        padding-left: 0;
        padding-right: 0;
    }
}

.price__content-full {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1300px;
}

.price__content {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;

    @include atTablet {
        // box model
        flex-direction: row;
        max-width: 650px;
        margin-right: auto;
        margin-left: auto;
    }

    @include atDesktopM {
        // box model
        flex-direction: column;
        min-height: 855px;
        max-width: 580px;
        padding-left: 160px;
        margin-left: -160px;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 100px;

        // visual
        background-image: url("./img/decor/decorative-price-stamp.svg");
        background-position: -50px 230px;
        background-size: 620px 620px;
        background-repeat: no-repeat;

        &:after {
            content: "";
    
            // positioning
            position: absolute;
            top: -50px;
            left: 0px;
            z-index: -1;
    
            // box model
            width: 580px;
            height: 100%;
    
            // visual
            background-image: url("./img/services/shaving-accessories.jpg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            opacity: 0.1;
        }

        &:before {
            content: "Наши услуги и цены";
    
            // positioning
            position: absolute;
            transform: rotate(270deg);
            bottom: 145px;
            right: -125px;
    
            // typography
            color: rgba($grey, 0.5);
            font-family: $baseFont;
            font-size: 10px;
            font-weight: 600;
            line-height: 12px;
            letter-spacing: 4px;
            text-transform: uppercase;
        }
    }
}

.price__content .section-header {
    @include atTablet {
        // box model
        max-width: 260px;
        width: 100%;
    }

    @include atDesktopM {
        // box model
        max-width: auto;
        width: auto;
    }
}

.price__content-descr {
    // box model
    display: none;

    @include atTablet {
        // box model
        display: flex;
        flex-direction: column;
        max-width: 320px;
    }

    @include atDesktopM {
        // box model
        height: 100%;
        max-height: 235px;
        max-width: 220px;
        justify-content: flex-start;
        margin-bottom: 40px;
    }
}

.price__content-descr .btn--active {
    @include atTablet {
        // box model
        display: none;
    }

    @include atDesktopM {
        // box model
        display: block;
    }
}

.price__content-descr-header {

}

.price__content-descr-title {
    // box model
    margin: 0;

    // typography
    color: $grey;
}

.price__content-dscr-text {
    // box model
    margin: 0;
    margin-bottom: 80px;

    // typography
    color: $black;
    font-family: $baseFont;
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
}

.price__table {
    // positioning
    position: relative;

    // box model
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 0;

    @include atTablet {
        // box model
        max-width: 560px;
        margin-left: auto;
        margin-right: auto;
    }

    @include atDesktopM {
        // box model
        max-width: 660px;

        &:after {
            content: "";
    
            // positioning
            position: absolute;
            top: 55%;
            right: -250px;
            z-index: -1;
    
            // box model
            max-width: 715px;
            width: 100%;
            height: 225px;
    
            // visual
            background-image: url("./img/decor/decorative-price.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    @include atDesktopL {
        // box model
        max-width: 760px;
    }
}