.section-header {
}

.section-header--right {
    // box model
    width: 100%;
    max-width: 470px;
    margin-top: 20px;
}

.section-header--right-title {
    // box model
    margin: 0;

    // typography
    color: $grey;
    font-family: $baseFont;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    @include atTablet {
        // typography
        font-size: 18px;
        line-height: 24px;
    }

    @include atDesktopM {
        // typography
        font-size: 24px;
        line-height: 30px;
    }
}

.section-header--right-subtitle {
    // box model
    margin: 0;

    // typography
    color: $grey;
    font-family: $baseFont;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.section-header__text-top {
    // box model
    margin: 0;
    margin-bottom: 10px;
    padding: 0;

    // typography
    color: $red;
    font-family: $baseFont;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 17px;
    text-transform: uppercase;
}

.section-header__title {
    // box model
    margin: 0;
    margin-bottom: 5px;
    padding: 0;

    // typography
    color: $black;
    font-family: $titleFont;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;

    &--main-top {
        // typography
        font-size: 40px;

        @include atDesktopM {
            // typography
            font-size: 64px;
        }
    }

    @include atTablet {
        // typography
        font-size: 40px;
    }

    @include atDesktopM {
        // typography
        font-size: 48px;
    }
}

.section-header__subtitle {
    // box model
    margin: 0;
    padding: 0;

    // typography
    color: $black;
    font-family: $titleFont;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    text-transform: uppercase;

    @include atDesktopM {
        // typography
        font-size: 48px;
        line-height: 54px;
    }
}

.section-header__descr {
    // box model
    margin: 0;
    margin-top: 30px;
    margin-bottom: 10px;

    // typography
    color: $black;
    font-family: $baseFont;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    &--stress {
        // box model
        margin-top: 0;
        margin-bottom: 40px;
        
        // typography
        font-weight: 700;
    }
}