.up-button {
    // positioning
    position: fixed;
    bottom: 10px;
    left: 30px;
    
    // box model
    display: none;

    // visual
    border: none;
    background: none;
    cursor: pointer;
    outline: none;

    &--blinked {
        .up-button__arrow:nth-child(1) {
            // visual
            opacity: 1;
        }

        .up-button__arrow:nth-child(2) {
            // visual
            opacity: 0.2;
        }
    }

    @include atDesktopM {
        // box model
        display: block;
    }
}

.up-button__arrow {
    // visual
    opacity: 0.2;
    transition: opacity 1s ease-in-out;

    &:first-child {
        // visual
        opacity: 0.2;
    }

    &:nth-child(2) {
        // visual
        opacity: 1;
    }
}

.up-button__img {
    // box model
    display: block;
    margin-right: auto;
    margin-left: auto;
}