.up-button {
    // positioning
    position: absolute;
    top: 10px;

    // visual
    border: none;
    background: none;
    cursor: pointer;
}

.up-button__arrow {
    // visual
    opacity: 0.2;
    transition: opacity 1s ease-in-out;
    
    &--active {
        // visual
        opacity: 1;
    }
}

.up-button__img {
    // box model
    display: block;
    margin-right: auto;
    margin-left: auto;
}