footer.main-footer
    .main-footer__content
        .main-footer__info
            .main-footer__info-logo
                img.logo(src="./img/logo/newman-logo.svg", alt="NEWMAN BARBERSHOP")
            p.bold-font Барбершоп для настоящих ценителей современного мужского стиля
        .main-footer__menu-and-social
            .main-footer__menu
                .main-footer__menu-header
                    h4.main-footer__menu-title.ghost-font.ghost-font--red Меню
                ul.main-footer__menu-list
                    li.main-footer__menu-item
                        a.main-footer__menu-link(href="#about") О барбершопе
                    li.main-footer__menu-item
                        a.main-footer__menu-link(href="#features") Преимущества
                    li.main-footer__menu-item
                        a.main-footer__menu-link(href="#price") Прайс
                    li.main-footer__menu-item
                        a.main-footer__menu-link(href="#services") Услуги
                    li.main-footer__menu-item
                        a.main-footer__menu-link(href="#team") Команда
                    li.main-footer__menu-item
                        a.main-footer__menu-link(href="#contacts") Контакты
            .main-footer__social
                .main__footer-social-header
                    h4.main__footer-social-title Мы в социальных сетях
                ul.main__footer-social-list
                    li.main__footer-social-item
                        a.main__footer-social-link(href="#") instagram
                    li.main__footer-social-item
                        a.main__footer-social-link(href="#") vkontakte

                .main__footer-policy
                    a.main__footer-policy-link(href="#") Условия использования
                    a.main__footer-policy-link(href="#") Политика безопасности
    button.up-button#up-button
        .up-button__arrow
        p.up-button__text Наверх