header.main-header
    .main-header__top-navigation
        .main-header__logo
            img.logo(src="./img/logo/newman-logo.svg", alt="NEWMAN BARBERSHOP")
    
        .main-header__nav
            nav.main-nav
                ul.main-nav__list
                    li.main-nav__item
                        a.main-nav__link(href="#price") Прайс
                    li.main-nav__item
                        a.main-nav__link(href="#services") Услуги
                    li.main-nav__item
                        a.main-nav__link(href="#contacts") Контакты
                
    .main-nav__mobile
        .main-nav__mobile-content
            header.main-nav__top-header
                .main-nav__top-logo
                    img.logo(src="./img/logo/newman-logo-white.svg", alt="Newman Barbershop")
            .main-nav__main-content
                .main-nav__mobile-info
                    header.main-nav__mobile-header
                        h3.main-nav__mobile-title Меню
                        p.main-nav__mobile-subtitle Барбершоп для настоящих ценителей современного мужского стиля
                    .main-nav__mobile-address
                        .main-nav__mobile-adress-content
                            h5.main-nav__mobile-small-title Адрес
                            p.main-nav__mobile-subtitle Норильск<br> Ленинский проспект, 39д<br> ТЦ “Салют"
                        .main-nav__mobile-hours
                            h5.main-nav__mobile-small-title Режим работы
                            p.main-nav__mobile-subtitle Понедельник - Пятница:<br>09.00 - 20.00
                            p.main-nav__mobile-subtitle Суббота - Воскресенье:<br>10.00 - 22.00
                .main-nav__mobile-menu
                    ul.main-nav__mobile-list
                        li.main-nav__mobile-item
                            a.main-nav__mobile-link(href="#about") О барбершопе
                        li.main-nav__mobile-item
                            a.main-nav__mobile-link(href="#features") Преимущества
                        li.main-nav__mobile-item
                            a.main-nav__mobile-link(href="#price") Прайс
                        li.main-nav__mobile-item
                            a.main-nav__mobile-link(href="#services") Услуги
                        li.main-nav__mobile-item
                            a.main-nav__mobile-link(href="#team") Команда
                        li.main-nav__mobile-item
                            a.main-nav__mobile-link(href="#contacts") Контакты
                    .main-nav__mobile-menu-policy
                        a.main-nav__mobile-menu-policy-link(href="#") Условия использования
                        a.main-nav__mobile-menu-policy-link(href="#") Политика безопасности
    .main-header__mobile-icon
        .mobile-icon.mobile-icon--inactive
            span
            span
            span
    
    .main-header__content
        .main-header__info
            .section-header
                p.section-header__text-top Born in norilsk
                h1.section-header__title.section-header__title--main-top NEWMAN BARBERSHOP
                p.section-header__subtitle Для настоящих ценителей мужского стиля
            p.main-header__descr.main-font Мы больше чем просто парикмахерская, мы создаем современную класику мужских стрижек и бритья. NEWMAN NORILSK — место с твоим характером.
            .main-header__buttons
                button.btn.btn--active Запись онлайн
                button.btn Контакты
        
        .main-header__image-small
            img(src="./img/promos/cutting.jpg", alt="Стрижка")
        .main-header__image-big
            img(src="./img/services/shaving-large.jpg", alt="Бритье")

    .main-header__contacts
        .contacts
            .contacts__address
                .contacts__address-header
                    h3.contacts__address-title.contacts__address-title--address Адрес
                p.contacts__address-place <span class="contacts__address-city">Норильск</span> Ленинский проспект, 39д <span class="contacts__address-landmark">ТЦ "Салют"</span>
            .contacts__working-hours
                .contacts__working-hours-header
                    h3.contacts__working-hours-title.contacts__working-hours-title--hours Режим работы
                .contacts__working-hours-block
                    p.contacts__working-hours-days Понедельник - Пятница
                    p.contacts__working-hours-time 09.00 - 22.00
                .contacts__working-hours-block
                    p.contacts__working-hours-days Суббота - Воскресенье
                    p.contacts__working-hours-time 10.00 - 22.00