// colors
$mainColor: #E5E5E5;
$black: #2B2A29;
$grey: #898989;
$white: #ffffff;
$noise: #9ABAB3;
$red: #CB1E14;

// typography
$baseFontSize: 18px;
$fontForSmallMobile: 16px;
$titleFont: "Oswald", sans-serif;
$baseFont: "Montserrat", sans-serif;